In [19]:
#Import Libraries
import pandas as pd
import numpy as np
from datetime import timezone, timedelta, time, datetime
import matplotlib.pyplot as plt
import seaborn as sns

# Portugal

The map below is an easy way to understand the division of Continental Portugal.

![Portugal Continental Map](img/portugal-continental.png "Portugal Continental Map")


* Porto and North
* Center
* Alentejo
* Lisbon and Tejo Valley
* Algarve

In [7]:
# Districts
Northen  = ['Viana Do Castelo', 'Porto', 'Braga', 'Vila Real', 'Bragança']
Center   = ['Castelo Branco', 'Viseu', 'Guarda', 'Aveiro', 'Coimbra', 'Leiria']
Algarve  = ['Faro']
Alentejo = ['Évora', 'Beja', 'Portalegre', 'Santarém']
Lisbon   = ['Lisboa', 'Setúbal']

In [3]:
# Load and Read dataset
df = pd.read_excel('datasets/wildfire.xlsx')

#Checking dataset head
df.head()

,Ano,Codigo SGIF,Codigo_ANPC,Tipo,Distrito,Concelho,Freguesia,Local,INE,x,...,Falso Alarme,Fogacho,Incendio,Agricola,Perimetro,APS,Causa,TipoCausa,Região PROF,UGF
0,2015,DM315252,2015160007544,Florestal,Viana do Castelo,Ponte de Lima,Serdedelo,VALE DE TROVELA (SERDEDELO),160746,167814,...,0,0,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Alto Minho
1,2015,DM215305,2015130043758,Florestal,Porto,Marco de Canaveses,Vila Boa de Quires,LUGAR DO FOFO,130731,193731,...,0,0,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Tâmega
2,2015,DM415293,2015030021973,Florestal,Braga,Vila Verde,Lage,RUA PROF ABEL MADEIRA,31323,172162,...,0,1,0,0,NaN,NaN,60.0,Desconhecida,Entre Douro e Minho,Baixo Minho
3,2015,DM315261,2015160007563,Falso Alarme,Viana do Castelo,Ponte de Lima,Boalhosa,J. DEPOSITOS DE AGUA (BOALHOSA),160709,171291,...,1,0,0,0,NaN,NaN,630.0,Desconhecida,Entre Douro e Minho,Alto Minho
4,2015,BL115321,2015180015874,Agrícola,Viseu,Castro Daire,Castro Daire,Farejinhas - Bº das Queirós,180304,217299,...,0,1,0,0,NaN,NaN,630.0,Desconhecida,Beira Litoral,Dão Lafões

In [4]:
#Checking dataset tail
df.tail()

,Ano,Codigo SGIF,Codigo_ANPC,Tipo,Distrito,Concelho,Freguesia,Local,INE,x,...,Falso Alarme,Fogacho,Incendio,Agricola,Perimetro,APS,Causa,TipoCausa,Região PROF,UGF
23170,2015,DM4151671,2015030056919,Florestal,Braga,Fafe,Fafe,RUA DE FORNELO,30709,196478,...,0,1,0,0,NaN,NaN,60.0,Desconhecida,Entre Douro e Minho,Baixo Minho
23171,2015,BL1151018,2015180041997,Florestal,Viseu,Cinfães,Cinfães,Ventuzela,180403,203110,...,0,0,1,0,NaN,NaN,125.0,Negligente,Entre Douro e Minho,Tâmega
23172,2015,BL3151227,2015010055691,Falso Alarme,Aveiro,Santa Maria da Feira,Feira,avenida 25 de abril,10906,164395,...,1,0,0,0,NaN,NaN,NaN,NaN,Entre Douro e Minho,AMP e Entre Douro e Vouga
23173,2015,DM2153226,2015130115988,Florestal,Porto,Paços de Ferreira,Paços de Ferreira,Lugar alto das Cavadas,130912,180666,...,0,1,0,0,NaN,NaN,711.0,Reacendimento,Entre Douro e Minho,Tâmega
23174,2015,BL3151229,2015010055723,Falso Alarme,Aveiro,Santa Maria da Feira,Rio Meão,Casais de Baixo,10921,161792,...,1,0,0,0,NaN,NaN,NaN,NaN,Entre Douro e Minho,AMP e Entre Douro e Vouga

In [5]:
# Inspecting dataset colunms name
df.columns

Index(['Ano', 'Codigo SGIF', 'Codigo_ANPC', 'Tipo', 'Distrito', 'Concelho',
       'Freguesia', 'Local', 'INE', 'x', 'y', 'lat', 'lon', 'DataAlerta',
       'HoraAlerta', 'DataExtincao', 'HoraExtincao', 'Data1Intervencao',
       'Hora1Intervencao', 'FonteAlerta', 'NUT', 'AA_Povoamento (ha)',
       'AA_Mato (ha)', 'AA_Agricola (ha)',
       'AA_EspacosFlorestais (pov+mato)(ha)', 'AA_Total (pov+mato+agric) (ha)',
       'Reacendimentos', 'Queimada', 'Falso Alarme', 'Fogacho', 'Incendio',
       'Agricola', 'Perimetro', 'APS', 'Causa', 'TipoCausa', 'Região PROF',
       'UGF'],
      dtype='object')

In [6]:
# Inspecting data type and dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23175 entries, 0 to 23174
Data columns (total 38 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Ano                                  23175 non-null  int64
 1   Codigo SGIF                          23175 non-null  object
 2   Codigo_ANPC                          23175 non-null  int64
 3   Tipo                                 23175 non-null  object
 4   Distrito                             23175 non-null  object
 5   Concelho                             23175 non-null  object
 6   Freguesia                            23175 non-null  object
 7   Local                                23174 non-null  object
 8   INE                                  23175 non-null  int64
 9   x                                    23175 non-null  int64
 10  y                                    23175 non-null  int64
 11  lat                                  23175 non-null  object
 12  lon                                  23175 non-null  object
 13  DataAlerta                           23175 non-null  object
 14  HoraAlerta                           23175 non-null  object
 15  DataExtincao                         22863 non-null  object
 16  HoraExtincao                         22858 non-null  object
 17  Data1Intervencao                     21976 non-null  object
 18  Hora1Intervencao                     21962 non-null  object
 19  FonteAlerta                          0 non-null      float64
 20  NUT                                  23175 non-null  object
 21  AA_Povoamento (ha)                   23175 non-null  float64
 22  AA_Mato (ha)                         23175 non-null  float64
 23  AA_Agricola (ha)                     23175 non-null  float64
 24  AA_EspacosFlorestais (pov+mato)(ha)  23175 non-null  float64
 25  AA_Total (pov+mato+agric) (ha)       23175 non-null  float64
 26  Reacendimentos                       23175 non-null  int64
 27  Queimada                             23175 non-null  int64
 28  Falso Alarme                         23175 non-null  int64
 29  Fogacho                              23175 non-null  int64
 30  Incendio                             23175 non-null  int64
 31  Agricola                             23175 non-null  int64
 32  Perimetro                            826 non-null    object
 33  APS                                  1059 non-null   object
 34  Causa                                16162 non-null  float64
 35  TipoCausa                            16162 non-null  object
 36  Região PROF                          23173 non-null  object
 37  UGF                                  23174 non-null  object
dtypes: float64(7), int64(11), object(20)
memory usage: 6.7+ MB

In [9]:
print("Districts: ", df.Distrito.unique())
print("Number of Districts: ", df.Distrito.nunique())

Districts:  ['Viana do Castelo' 'Porto' 'Braga' 'Viseu' 'Vila Real' 'Coimbra'
 'Santarém' 'Bragança' 'Lisboa' 'Portalegre' 'Beja' 'Évora' 'Faro'
 'Guarda' 'Aveiro' 'Leiria' 'Setúbal' 'Castelo Branco' 'Viana Do Castelo']
Number of Districts:  19

In [10]:
# Fixing distict typo
df['Distrito'] = df.Distrito.str.title()
print("Districts: ", df.Distrito.unique())
print("Number of Districts: ", df.Distrito.nunique())

Districts:  ['Viana Do Castelo' 'Porto' 'Braga' 'Viseu' 'Vila Real' 'Coimbra'
 'Santarém' 'Bragança' 'Lisboa' 'Portalegre' 'Beja' 'Évora' 'Faro'
 'Guarda' 'Aveiro' 'Leiria' 'Setúbal' 'Castelo Branco']
Number of Districts:  18

In [13]:
df_stg = df.query("Distrito in @Northen")
df_stg.reset_index(inplace=True)
df_stg.head()

,index,Ano,Codigo SGIF,Codigo_ANPC,Tipo,Distrito,Concelho,Freguesia,Local,INE,...,Falso Alarme,Fogacho,Incendio,Agricola,Perimetro,APS,Causa,TipoCausa,Região PROF,UGF
0,0,2015,DM315252,2015160007544,Florestal,Viana Do Castelo,Ponte de Lima,Serdedelo,VALE DE TROVELA (SERDEDELO),160746,...,0,0,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Alto Minho
1,1,2015,DM215305,2015130043758,Florestal,Porto,Marco de Canaveses,Vila Boa de Quires,LUGAR DO FOFO,130731,...,0,0,1,0,NaN,NaN,122.0,Negligente,Entre Douro e Minho,Tâmega
2,2,2015,DM415293,2015030021973,Florestal,Braga,Vila Verde,Lage,RUA PROF ABEL MADEIRA,31323,...,0,1,0,0,NaN,NaN,60.0,Desconhecida,Entre Douro e Minho,Baixo Minho
3,3,2015,DM315261,2015160007563,Falso Alarme,Viana Do Castelo,Ponte de Lima,Boalhosa,J. DEPOSITOS DE AGUA (BOALHOSA),160709,...,1,0,0,0,NaN,NaN,630.0,Desconhecida,Entre Douro e Minho,Alto Minho
4,5,2015,DM415289,2015030021952,Florestal,Braga,Barcelos,Perelhal,ERMIDA,30260,...,0,0,1,0,NaN,NaN,711.0,Reacendimento,Entre Douro e Minho,Baixo Minho

In [14]:
# Inspecting stg shape
print("North shape: ", df_stg.shape)

North shape:  (10448, 39)

In [24]:
# Slicing Dataset
columns = ['Distrito','Tipo', 'TipoCausa', 'DataAlerta','DataExtincao','HoraAlerta','HoraExtincao','AA_Total (pov+mato+agric) (ha)']
names =  ['District','Type', 'TypeCause', 'DateAlert', 'DateExtinction', 'HourAlert', 'HourExtinction', 'AreaTotal']
north = df_stg[columns].copy(deep=True)
north.columns = names
north.head()

,District,Type,TypeCause,DateAlert,DateExtinction,HourAlert,HourExtinction,AreaTotal
0,Viana Do Castelo,Florestal,Negligente,2015-03-24 00:00:00.000,2015-03-24 00:00:00.000,17:01:00,18:09:00,2.50
1,Porto,Florestal,Negligente,2015-03-24 00:00:00.000,2015-03-24 00:00:00.000,17:10:00,18:47:00,1.35
2,Braga,Florestal,Desconhecida,2015-03-24 00:00:00.000,2015-03-24 00:00:00.000,19:15:00,20:00:00,0.26
3,Viana Do Castelo,Falso Alarme,Desconhecida,2015-03-24 00:00:00.000,2015-03-24 00:00:00.000,20:05:00,21:30:00,0.00
4,Braga,Florestal,Reacendimento,2015-03-24 00:00:00.000,2015-03-25 00:00:00.000,18:03:00,01:50:00,1.50

In [25]:
# Converting to datetime
north[['DateAlert', 'DateExtinction']] = north[['DateAlert', 'DateExtinction']].apply(pd.to_datetime, errors='coerce')

In [31]:

north[['HourAlert', 'HourExtinction']] = north[['HourAlert', 'HourExtinction']].apply(pd.to_datetime, format='%H:%M:%S')


north.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10448 entries, 0 to 10447
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   District        10448 non-null  object
 1   Type            10448 non-null  object
 2   TypeCause       6866 non-null   object
 3   DateAlert       10448 non-null  datetime64[ns]
 4   DateExtinction  10422 non-null  datetime64[ns]
 5   HourAlert       10448 non-null  datetime64[ns]
 6   HourExtinction  10418 non-null  datetime64[ns]
 7   AreaTotal       10448 non-null  float64
dtypes: datetime64[ns](4), float64(1), object(3)
memory usage: 653.1+ KB

In [32]:
north.head()

,District,Type,TypeCause,DateAlert,DateExtinction,HourAlert,HourExtinction,AreaTotal
0,Viana Do Castelo,Florestal,Negligente,2015-03-24,2015-03-24,1900-01-01 17:01:00,1900-01-01 18:09:00,2.50
1,Porto,Florestal,Negligente,2015-03-24,2015-03-24,1900-01-01 17:10:00,1900-01-01 18:47:00,1.35
2,Braga,Florestal,Desconhecida,2015-03-24,2015-03-24,1900-01-01 19:15:00,1900-01-01 20:00:00,0.26
3,Viana Do Castelo,Falso Alarme,Desconhecida,2015-03-24,2015-03-24,1900-01-01 20:05:00,1900-01-01 21:30:00,0.00
4,Braga,Florestal,Reacendimento,2015-03-24,2015-03-25,1900-01-01 18:03:00,1900-01-01 01:50:00,1.50

In [36]:
north['FireAmountTime'] = north.HourExtinction - north.HourAlert
north.head()

,District,Type,TypeCause,DateAlert,DateExtinction,HourAlert,HourExtinction,AreaTotal,FireAmountTime
0,Viana Do Castelo,Florestal,Negligente,2015-03-24,2015-03-24,1900-01-01 17:01:00,1900-01-01 18:09:00,2.50,0 days 01:08:00
1,Porto,Florestal,Negligente,2015-03-24,2015-03-24,1900-01-01 17:10:00,1900-01-01 18:47:00,1.35,0 days 01:37:00
2,Braga,Florestal,Desconhecida,2015-03-24,2015-03-24,1900-01-01 19:15:00,1900-01-01 20:00:00,0.26,0 days 00:45:00
3,Viana Do Castelo,Falso Alarme,Desconhecida,2015-03-24,2015-03-24,1900-01-01 20:05:00,1900-01-01 21:30:00,0.00,0 days 01:25:00
4,Braga,Florestal,Reacendimento,2015-03-24,2015-03-25,1900-01-01 18:03:00,1900-01-01 01:50:00,1.50,-1 days +07:47:00

In [37]:
north['DayAlert'] = north.DateAlert.dt.day_name()
north['DayExtinction'] = north.DateExtinction.dt.day_name()

north.head()

,District,Type,TypeCause,DateAlert,DateExtinction,HourAlert,HourExtinction,AreaTotal,FireAmountTime,DayAlert,DayExtinction
0,Viana Do Castelo,Florestal,Negligente,2015-03-24,2015-03-24,1900-01-01 17:01:00,1900-01-01 18:09:00,2.50,0 days 01:08:00,Tuesday,Tuesday
1,Porto,Florestal,Negligente,2015-03-24,2015-03-24,1900-01-01 17:10:00,1900-01-01 18:47:00,1.35,0 days 01:37:00,Tuesday,Tuesday
2,Braga,Florestal,Desconhecida,2015-03-24,2015-03-24,1900-01-01 19:15:00,1900-01-01 20:00:00,0.26,0 days 00:45:00,Tuesday,Tuesday
3,Viana Do Castelo,Falso Alarme,Desconhecida,2015-03-24,2015-03-24,1900-01-01 20:05:00,1900-01-01 21:30:00,0.00,0 days 01:25:00,Tuesday,Tuesday
4,Braga,Florestal,Reacendimento,2015-03-24,2015-03-25,1900-01-01 18:03:00,1900-01-01 01:50:00,1.50,-1 days +07:47:00,Tuesday,Wednesday

In [39]:
north[north.DateAlert > north.DateExtinction]

Empty DataFrame
Columns: [District, Type, TypeCause, DateAlert, DateExtinction, HourAlert, HourExtinction, AreaTotal, FireAmountTime, DayAlert, DayExtinction]
Index: []